.uu-verify-button {
  color: #5c6f88;
  padding: 6px 9px;
  background: #e7ecf2;
  border-radius: 3px;
  cursor: pointer;
}
.uu-verify-button-disabled {
  background: rgba(231, 236, 242, 0.4);
  cursor: not-allowed;
}
